<div [formGroup]="form" class="form">
    <label>Fault</label>
    <div *ngIf="options != null" class="options">
        <div class="multiselect">
            <div class="selectBox" (click)="expandContainer()">
                <select>
                    <option>Select an option</option>
                </select>
                <div class="overSelect"></div>
            </div>
            <div id="checkboxes" #checkboxContainer>
                <input type="text" placeholder="Search" formControlName="multiSelectInputFormControl"
                    (input)="filterOptions()">
                <label for="allOption.value">
                    <input type="checkbox" id="allOption.value" [checked]="allOption.selected"
                        (change)="selectOption(allOption)" />{{allOption.value}}
                </label>
                <label for="option.value" *ngFor="let option of options">
                    <input type="checkbox" id="option.value" [checked]="option.selected"
                        (change)="selectOption(option)" />{{option.value}}
                </label>
            </div>
        </div>
    </div>
</div>