<form [formGroup]="form" (ngSubmit)="getFilters()">
    <fieldset>
        <div class="chip-container">
            <!-- the expand/collapse functionality would be implemented usind slice on the array
                 and applying ngClass on the div containing index > 0 for chips -->
            <div class="chip" *ngFor="let chip of chips | slice: 0:chips.length; let i=index;">
                <span>{{chip.chip}}</span>
                <i class="material-icons" (click)="deleteChip(i)"></i>
            </div>
            <!-- <div class="chip" *ngFor="let chip of chips | slice: 1:10; let i=index;"
                [ngClass]="!chip.isExpanded ? 'hidden-chips' : ''">
                {{chip.chip}}
                <i class="arrowIcon""></i>
            </div> -->
            <input name="currentInput" formControlName="chipFormControl" (keyup.enter)="saveChip()">
        </div>
        <app-select [form]="form" (selectedTrigger)="readFromTriggers($event)" [triggerChip]="triggerInput">
        </app-select>

        <app-search-multi-select [form]="form" (selectedTrigger)="readFromTriggersMulti($event)"
            [triggerChip]="triggerInput"></app-search-multi-select>
    </fieldset>
    <button type="submit">Submit</button>
</form>